@use '_variables' as *;

.employee-table {
    direction: ltr;
    width: 100%;
    border-collapse:separate;
    border-radius: 10px;
    table-layout:auto; 
    display: table;
    margin: 20px 0;
    font-family: arial , sans-serif;
    border: 1px solid $secondary-color;
    
}

.grid-container {
    justify-content: flex-start;
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
}


.tools {
    position: absolute;
    display: flex;
    gap: 5px;
    right: 10px;
    bottom: 10px;
}

.tools-btns {
    cursor: pointer;
    color:$text-color;
}

.grid-item {
    position: relative;
    font-family: arial , sans-serif;
    width:528px;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
        transition: background-color 0.3s ease;
}

.grid-item:hover{
    background-color: $table-hover;
    cursor: pointer;
}

.grid-info {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    color: $primary-color;
    font-weight: bold;
    margin-right: 5px;
}



.table-header {
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
}

.table-header th {
    padding: 15px;
    text-align: left;
    white-space: nowrap;
}

.employee-table td {
    padding: 12px 10px;
    border-right: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;

}


.empname {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 8px;
    border-right: 1px solid $secondary-color;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    color: $bg-color;
    align-items: center; 
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    text-transform:uppercase;
}
.employee-table tbody tr:last-child td {
    border-bottom: none;
}

.table-row>td:last-child {
    border-right: none;
}

.table-row:hover>td {
    background-color: $table-hover;
    cursor: pointer;
}

table i {
    cursor: pointer;
    color:rgba(0, 0, 0, 0.705);
}

.table-row>td:last-child.active {
    color: $active-color;
    font-weight: bold;
}

.table-row>td:last-child.inactive {
    color: $danger-color;
    font-weight: bold;
}

.is-active {
    color: $active-color;
}

.is-not-active {
    color: $danger-color;
}
th , td{
    text-align: left;
    padding: 5px 10px;
    margin: 0;
    text-align: left;
    overflow: hidden;
width:auto;
white-space: nowrap;
}

@media (max-width: 480px) {
.employee-table {
        min-width: fit-content;
        font-size: 12px;
    }
}