<h2 class="section-title">EMPLOYEES</h2>
<div class="manage-table">
            <div class="search-bar">
                               <input type="text" (input)="onSearchChanged($event)" placeholder="Search employee here..." />
                           </div>
            <div class="control-table">
                <button class="filter-btn"><i class="fas fa-filter"></i></button>
                <button class="view-toggle-btn" (click)="onToggleGrid()"><i *ngIf="!isGrid"
                     class="fas fa-th-large"></i><i *ngIf="isGrid" class="fa fa-table"></i></button>
                <button class="add">Add new employee</button>
            </div>
        </div>