@use '_variables' as *;

.dep-label {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
}

.dep {
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
    gap: 7px;
}

.dep-content {
    position: relative;
    box-sizing: border-box;
    width: calc(33.33% - 5px);
    height: 120px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid $secondary-color;
    transition: transform 0.6 ease;
}

.dep-content:hover {
    transform: translateY(-3px);
    background-color: $table-hover;
}

.dep-name {
    color: $primary-color;
    font-weight: bold;
    font-size:20px;
}

.dep-description {
    color:$secondary-text;
}

.dep-click {
    position:absolute;
    bottom:10px;
    right:10px;
    color:$primary-color;
    cursor: pointer;
    transition: 0.3 ease;
}

.dep-click:hover {
    transform:translateY(-3px);
    text-decoration: underline;
}