.footer {
    bottom: 0;
    padding: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 480px) {
    footer {
        margin-left: 0;
        position: fixed;
width: auto;
 }
}