@use '_variables' as *;

.employee-table {
    direction: ltr;
    width: 100%;
    border-collapse:separate;
    border-radius: 10px;
    table-layout:auto; 
    display: table;
    margin: 20px 0;
    font-family: arial , sans-serif;
    border: 1px solid $secondary-color;
    
}

.table-header {
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
}

.table-header th {
    padding: 15px;
    text-align: left;
    white-space: nowrap;
}

.employee-table td {
    padding: 12px 10px;
    border-right: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;

}

.empname {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 8px;
    border-right: 1px solid $secondary-color;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: $bg-color;
    text-transform:uppercase;
}
.employee-table tbody tr:last-child td {
    border-bottom: none;
}

.table-row>td:last-child {
    border-right: none;
}

.table-row:hover>td {
    background-color: $bg-color;
    cursor: pointer;
}

table i {
    cursor: pointer;
    color:$text-color;
}

.table-row>td:last-child.active {
    color: $active-color;
    font-weight: bold;
}

.table-row>td:last-child.inactive {
    color: $danger-color;
    font-weight: bold;
}

.is-active {
    color: $active-color;
}

.is-not-active {
    color: $danger-color;
}
th , td{
    text-align: left;
    padding: 5px 10px;
    margin: 0;
    text-align: left;
    overflow: hidden;
width:auto;
white-space: nowrap;
}

.more {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.more-button {
    padding: 10px 24px;
    background-color: $primary-color;
    color: $bg-color;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.more-button:hover {
    background-color: $primary-600;
    color: $bg-color;
}

@media (max-width: 480px) {
.employee-table {
        min-width: fit-content;
        font-size: 12px;
    }
}