$primary-color:#00a86b;
$secondary-color: #ddd;
$text-color: #000000;
$danger-color: #ff1900;
$bg-color: rgb(255, 255, 255);
$primary-600: #023321;
$primary-100: #0a5e3f;
$table-hover:#e6f5ec;
$active-color: green;
$secondary-text:rgba(0, 0, 0, 0.507);