body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
    padding: 20px;
}

