@use '_variables' as *;

.content {
    flex:1;
}

.layout {
    min-height: 100vh;
    display: flex;
}

.mainpage {
    flex: 1;
    display: flex;
    flex-direction:column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.head-line {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.profile {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: $primary-color;
    font-weight: 800px;
}

.profile:hover {
    text-decoration: underline;
    color: $primary-color;
    cursor: pointer;
    transform: translateY(-3px);
}

.user-icon {
    vertical-align: middle;
    font-size: 17px;
    color: $primary-color;
}

.lang {
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 7px;
    border: 1px solid $secondary-color;
}


@media (max-width: 480px) {

    body {
        max-width: 100px;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .head-line {
        margin-top: 10px;
        gap: 375px;
        height: 60px;
        padding: 0 8px;
        font-size: 12px;
    }

    .profile {
        min-width: 100px;
        max-height: 30px;
    }

    .lang {
        min-width: 100px;
        max-height: 30px;
        padding: 10px 5px;
        font-size: 10px;
    }



    main {
        min-width: fit-content;
        margin-left: 0;
        padding: 10px 5px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .sidebar ul {
        gap: 15px;
    }

    .sidebar a {
        font-size: 14px;
        padding: 8px 12px;
    }

    .head-line {

        height: 55px;
        padding: 0 15px;
        font-size: 14px;
    }

    main {
        padding: 15px 10px;
    }

    .employee-table {
        font-size: 14px;
    }


}